<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        #bottom{
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        hr{
            border-style: double;
            border-width: 4px;
        }
    </style>
</head>
<body>
    <div class="content">
        <center>
            <h1>Sigma Tools</h1>
            <hr size="4" color="black">	
            <h2>
                Kontakt: sigmatools.org@gmail.com
            </h2>
            <div id="bottom">
                    <hr size="7" color="black">
                    <h4>
                        <b>Stay on the grind</b><br>
                        <i>Sigma Tools 2022</i>
                    </h4>
            </div>
        </center>
    </div>
</body>
</html>
