<html>
<head>
    <link rel="stylesheet" href="template/css/main.css" type="text/css">
</head>
<body>

    <?php
        $file = $_SERVER['REQUEST_URI'];
    ?>
<div class="menu">
    <a href="/">Home</a>
    <a href="/foliage">Foliarz</a>
    <a href="/matma">Matma</a>
    <a href="/about">About</a>
</div>
<!--<img onclick="" > -->
<input type="image" src="" class="dark" onclick="DarkTheme()"></button>
<script src="template/js/menu.js"></script>
</body>
</html>


<a class="active" href="/">Home</a>