<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wzory Matematyczne</title>
</head>

<body>
    <div class="content">
        <div>
            <h1 style="text-align: center;">
                <a name="menu" id="menu"></a>SŁOWNIK POJĘĆ TECHNICZNYCH</h1>
            <br>
            <!-- <p align="center">
                <b> [<a href="#A">A</a>] </b>
                <b> [<a href="#B">B</a>] </b>
                <b> [<a href="#C">C</a>] </b>
                <b> [<a href="#D">D</a>] </b>
                <b> [<a href="#E">E</a>] </b>
                <b> [<a href="#F">F</a>] </b>
                <b> [<a href="#G">G</a>] </b>
                <b> [<a href="#H">H</a>] </b>
                <b> [<a href="#I">I</a>] </b>
                <br>
                <b> [<a href="#J">J</a>] </b>
                <b> [<a href="#K">K</a>] </b>
                <b> [<a href="#L">L</a>] </b>
                <b> [<a href="#M">M</a>] </b>
                <b> [<a href="#N">N</a>] </b>
                <b> [<a href="#O">O</a>] </b>
                <b> [<a href="#P">P</a>] </b>
                <b> [<a href="#Q">Q</a>] </b>
                <b> [<a href="#R">R</a>] </b>
                <br>
                <b> [<a href="#S">S</a>] </b>
                <b> [<a href="#T">T</a>] </b>
                <b> [<a href="#U">U</a>] </b>
                <b> [<a href="#V">V</a>] </b>
                <b> [<a href="#W">W</a>] </b>
                <b> [<a href="#X">X</a>] </b>
                <b> [<a href="#Y">Y</a>] </b>
                <b> [<a href="#Z">Z</a>] </b>
            </p>
            <br> -->

            <div class="search">
                <form>
                    <center>
                        <form method="POST">
                            <select name="Wzór" id="wzor">
                                <optgroup label="Planimetria">
                                    <option>(P)Pole koła</option>
                                    <option>(L)Długość okręgu</option>
                                    <option>(P2)Pole dowolnego trójkąta</option>
                                    <option>(P3)Pole dowolnego trójkąta2</option>
                                    <option>(P4)Pole trójkąta równobocznego</option>
                                    <option>(P5)Pole trójkąta z wycinka</option>
                                    <option>(h)Wysokość trójkąta równobocznego</option>
                                    <option>(Pw)Pole wycinka koła</option>
                                    <option>((Po(AB))((Pw)-(P5))Pole odcinka</option>
                                </optgroup>
                                <optgroup label="Trygonometria"></optgroup>
                                <option></option>
                                <optgroup label="Funkcje"></optgroup>
                                <option></option>
                                <optgroup label="Wzory skróconego mnożenia"></optgroup>
                                <option></option>
                                <optgroup label="Wzory redukcyjne"></optgroup>
                                <option></option>
                            <!-- <input type="text" name="searchform" placeholder="Search" size="25"> -->
                            <button type="submit" id="search-button">
                                <img src="template/img/search.svg" width="25px" height="25px">
                            </button>
                        </form>
                    </center>
                </form>
            </div>

            <br>
            <table width="80%" border="0" cellpadding="0" cellspacing="5" align="center">
                <tbody>
                    <tr>
                        <td height="1"></td>
                    </tr>
                    <tr>
                    </tr>
                    <!-- <tr>
                        <td height="20"><span style="float: right; font-size:8px">&lt;<a href="#menu" title="menu" style="color:#666666; font-size:8px">[A][B][C]</a>&gt;</span>
                            <hr>
                        </td>
                    </tr> -->
                </tbody>
            </table>


        </div>
    </div>
</body>
</html>