<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wzory Matematyczne</title>
    <style>
        select {
            font-size: larger;
        }
    </style>
</head>

<body>
    <div class="content">
        <div>
            <h1 style="text-align: center;">
                <a name="menu" id="menu"></a>
                <b>WZORY MATEMATYCZNE</b>
            </h1>
            <br>
            <div class="search">
                <form>
                    <center>
                        <form method="POST">
                            <select name="Wzór" id="wzor" oninput='Choose()'>
                                <optgroup label="Planimetria">
                                    <option value="P:1">(P1)Pole koła</option>
                                    <option value="P:2">(L)Długość okręgu</option>
                                    <option value="P:3">(P2)Pole dowolnego trójkąta</option>
                                    <option value="P:4">(P3)Pole dowolnego trójkąta2</option>
                                    <option value="P:5">(P4)Pole trójkąta równobocznego</option>
                                    <option value="P:6">(P5)Pole trójkąta z wycinka</option>
                                    <option value="P:7">(h)Wysokość trójkąta równobocznego</option>
                                    <option value="P:8">(Pw)Pole wycinka koła</option>
                                    <option value="P:9">((Po(AB))((Pw)-(P5))Pole odcinka</option>
                                </optgroup>
                                <optgroup label="Trygonometria">
                                    <option value="T:1">Tabela wartości funkcji trygonometrycznych najczęstszych kątów</option>
                                    <option value="T:2">Przybliżone wartości funkcji trygonometrycznych wszystkich kątów ostrych</option>
                                </optgroup>
                                <optgroup label="Funkcje">
                                    <option></option>
                                </optgroup>
                                <optgroup label="Wzory skróconego mnożenia">
                                    <option></option>
                                </optgroup>
                                <optgroup label="Wzory redukcyjne">
                                    <option></option>
                                </optgroup>
                            <!-- <input type="text" name="searchform" placeholder="Search" size="25"> -->
                            <button type="submit" id="search-button">
                                <img src="template/img/search.svg" width="25px" height="25px">
                            </button>
                        </form>
                    </center>
                </form>
            </div>
        </div>
    </div>
    <script src="math.js"></script>
</body>
</html>