.podzial {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 90%;
    height: 65%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(227, 209, 230);
    color: black;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 1.5em;
}

.results,
.labels {
    font-size: large;
    color: black
}

#Oblicz {
    margin-top: 20px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    padding: 1em 2em;
    width: 10em;
    border-radius: 1.5em;
    color: #fff;
    background-color: rgb(144, 76, 150);
    transition-property: background-color;
    transition-duration: 0.3s;
}

#Oblicz:hover,
#Oblicz:focus {
    background-color: rgb(219, 116, 193);
}

#adres {
    font-size: large;
}