.podzial{
	Left: 50%;
  	transform: translateX(-50%);
	position: absolute;
	width: 40%;
	height: 50%;
	text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
	background-color: rgb(133, 123, 134);
    font-weight: bold;
}

#Oblicz{
	margin-top: 20px;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 1em 2em;
	width: 10em;
	border-radius: 1.5em;
	color: #fff;
	background-color: rgb(76, 114, 150);
	transition-property: background-color;
	transition-duration: 0.3s;
}

#Oblicz:hover, #Oblicz:focus {
	background-color: rgb(88, 182, 189);
}

#adres{
	font-size: large;
}

.dark-mode ~ .podzial {
	background-color: rgb(27, 25, 25);
	color: black;
  }